body {
    margin: 0;
    background: #dedede;
    display: flex;
    align-items: center;
    height: 100vh;
  }
  
  .tableroNivel{
    width: 200px;
    padding: 10px;
    position: absolute;
    top: 30%;
    left: 20%;
    border: solid 1px #ccc;
    font-size: 2em;
    font-weight: 700;
  }

  .resplandor{
    -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
  }

  .gameboard {
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 60vh;
  }

  .color {
    width: 50%;
    height: 50%;
    display: inline-block;
    cursor: pointer;
  }

  .left {
    float: left;
  }

  .right {
    float: left;
  }

  .celeste {
    background: #14646b;
  }

  .celeste.light {
    background: #7ed6df;
  }

  .violeta {
    background: #7b1d91;
  }

  .violeta.light {
    background: #e056fd;
  }

  .naranja {
    background: #a3641b;
  }

  .naranja.light {
    background: #ffbe76;
  }

  .verde {
    background: #3a6129;
  }

  .verde.light {
    background: #badc58;
  }

  .btn-start {
    width: 400px;
    height: 100px;
    background: #ecf0f1;
    color: #2c3e50;
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 200px);
  }

  .hide {
    display: none;
  }